@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}
ul ,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
img {
    vertical-align: bottom;
}
/* section 설정 */
section {

}
/* main page 설정 */
.main {
    position:relative;
    width: 100%;
    height: 100vh;
    background-color: #BD1B1D;
    color: #fff;
    overflow: hidden;
}
.main h1 {
    background-image: url(../img/main01.png);
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size:contain ;
    margin-left: 30px;
}

.main>h2 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.main .img {
    background-image: url(../img/main.png);
    width: 787px;
    height: 900px;
    position: absolute;
    bottom: 0;
    left: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}
.main .info {
    position: absolute;
    right: 20%;
    top: 50%;
}
/* btn 설정 */
.btn a, .btn span {
	display : inline-block;
	transition : all .4s;
	box-sizing : border-box;
}

.btn {
    position: relative;
    width: 50px;
    height: 44px;
    top: 0;
    right: 0;
}

.btn  span {
    width : 100%;
    height: 4px;
    background-color: #FFF;
    position: absolute;
    right: 0;
    top: 20px;
}

.btn  span:nth-child(1) {
    top: 0;
}
.btn  span:nth-child(2) {
    top: 20px;
}

.btn  span:nth-child(3) {
    bottom: 0;
}
.btn.active span:nth-child(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
}

.btn.active span:nth-child(2) {
    opacity: 0;
}

.btn.active span:nth-child(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
}
/* nav 설정 */
nav {
    position: fixed;
    width: 100%;
    height: 10vh;
    color: #BD1B1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #BD1B1D;
}
nav h1 {
    margin-left: 40px;
    font-size: 25px;
    font-family: 'Old Standard TT', serif;
}
nav ul {
    display: flex;
}
nav li {
    margin-right: 40px;
    font-size: 25px;
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
}
/* daliylife 설정 */
.dailylife {
    width: 100%;
    height: 100vh;
}
.dailylife article {
    width: 100%;
    height: 100vh;

}
.dailylife article h2 {
    display: flex;
    align-items: center;
}
.dailylife article span {
    display: block;
}
.dailylife article:nth-child(1) {}
.dailylife article:nth-child(2) {
    position: relative;
}
.dailylife article:nth-child(2) h2 {
    
}
/* runway 설정 */
.runway {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.r-video {
    width: 70%;
    height: 100vh;
    background-color: bisque;
}
.r-txt {
    width: 30%;
    height: 100vh;
    background-color: #BD1B1D;
}
.r-txt span {}
.r-txt em {
    font-size: 50px;
    transform: rotate(90deg);
    font-style: normal;
}
