@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
img {vertical-align: bottom;}

/* header 설정 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 10;
    display: flex;
    align-items: center;
    border-bottom: #fff solid 1px;
}
/** nav 설정 */
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
}
nav ul li {
    margin-left: 60px;
    color: #fff;
    font-family: 'Play', sans-serif;
}
/** logo 설정 */
nav h1 {
    margin-left: 60px;
    background-image: url(../img/logo.png);
    width: 80px;
    height: 80px;
}
/* section 전체 설정 */
section {
    width: 100%;
    height: 100vh;
}
section:nth-child(5) {
    background-color: #999;
}   
/* box1 설정 */
.box1 {
    display: flex;
    align-items: center;
    background-image: url(../img/hero.jpg);
}
/** box1 글자 설정 */
.box1 article {
    margin-left: 10%;
}
.box1 article h1 {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    font-family: 'Play', sans-serif;
    letter-spacing: 5px;
}
.box1 article em {
    color: #FFF;
    font-style: normal;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Play', sans-serif;
    letter-spacing: 2px;
}
/* box2 설정 */
.box2 {
    display: flex;
}
.box2 article:nth-child(1) {
    background-color: #888;
    width: 33.333%;
}
.box2 article:nth-child(2) {
    background-color: #777;
    width: 33.333%;
    display: flex;
    position: relative;
    z-index: 1;
}
.box2 article:nth-child(2) div {
    width: 400px;
    height: 150px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;

}
.box2 article:nth-child(3) {
    background-color: #666;
    width: 33.333%;
}
/** box2 사진 설정 */
.box2 article img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    object-position: center;
}
/* box3 설정 */
.box3 {
    display: flex;
} 
.box3 article:nth-child(1) {
    width: 10%;
    height: 100%;
    background-color: gray;
}
.box3 article:nth-child(2) {
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
}
.box3 article:nth-child(2) div:nth-child(1) {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}
.box3 article:nth-child(2) div:nth-child(2) {
    width: 50%;
}
.box3 article:nth-child(2) div:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit:cover ;
    object-position: center;
}
.box3 article:nth-child(2) div:nth-child(3) {
    position: absolute;
    background-color: beige;
    width: 600px;
    height: 150px;
    top: 60%;
    left: 150px;
}
/** box3 글자 설정 */
.box3 .txt03 ul li {
    margin-top: 25px;
}
.box3 .txt03 ul li:nth-child(1) {
    color: #000;
    font-family: 'Play', sans-serif;
    font-size: 18px;
}
.box3 .txt03 ul li:nth-child(2){
    color: #000;
    font-size: 26px;
    font-family: 'Noto Sans KR', sans-serif;
}
.box3 .txt03 ul li:nth-child(3){
    color: #555555;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* box4 설정 */
.box4 {

}
.box4 article {
    width: 80%;
    height: 100%;
    background-color: wheat ;
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.box4 article ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.box4 article ul li {
    background-color: #fff;
    width: 450px;
    height: 500px;
}
.box4 article ul li:nth-child(1) {}
.box4 article ul li:nth-child(2) {}
.box4 article ul li:nth-child(3) {}
/** box4 사진 설정 */
.con04 li {}
.con04 figure {
    width: 100%;
    height: 50%;
    background-color: #043673;
}
.con04 img {}
.con04 div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con04 div h2 {
    font-size: 22px;
    color: #222222;
    font-family: 'Play', sans-serif;
    
}
.con04 div p {
    font-size: 16px;
    color: #666666;
    font-family: 'Noto Sans KR', sans-serif;
}
/* box5 설정 */
.box5 {
    display: flex;
}
.box5 article {
    width: 50%;
}
.box5 article:nth-child(1) {
    background-image: url(../img/box5.jpg);
    background-position: left center;
    background-size: cover;
}

/** box5 글자 설정 */
.txt05 {
    background-color: #043673;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt05 h1 {
    font-size: 31px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.txt05 p {
    font-size: 16px;
    color: #AAAAAA;
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 16px;
}
/* box6 설정 */
.box6 {
    display: flex;
    justify-content: center;
}
.box6 article {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box6 article ul {
}
.box6 article ul li{
}
/** box6 사진 설정 */
.box6 img {
    width: 170px;
    height: 113px;
    background-color: #000;
    object-fit: cover;
    object-position: center;
}
/** box6 글자 설정 */
.box6 article h1 {
    display: block;
    color: #222222;
    font-size: 42px;
    font-family: 'Play', sans-serif;
    margin: 32px;
}
.txt06 {

}
.txt06 li {
}
.txt06 a {
    display: flex;
    align-items: center;    
    padding: 20px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}
.txt06 a:nth-child(1) {
    border-top: 1px solid #ddd;
}
.txt06 a div {
}
.txt-day span {
    color: #ccc;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
}
.txt-day span:nth-child(1) {
    font-size: 60px;
    margin-bottom: 8px;
}
.txt-day span:nth-child(2) {
    font-size: 14px;
    letter-spacing: 0.15em;
}
.txt-info {
    padding: 20px;

}
.txt-info span {
    color: #222222;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.txt-info p {
    color: #666666;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
/* footer설정 */
footer {
    background-color: #000;
    width: 100%;
    height: 30vh;
}