@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}
    /* body {width: 1440px; margin: 0 auto;} */
/* body {width: 100%;
    margin: 0 auto;} */

/* 변동설정 */
body {font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;}


    /* header설정 */
    header {padding: 20px 0;}

/* logo 설정 */
.logo {background-image: url(../img/Icon/logo.png);
        background-repeat: no-repeat;
        background-size: contain; 
        width: 175px;
        height: 49px;
        text-indent: -9999px;
        }
/* gnb 설정 */
.gnb {}
.gnb ul {display: flex;
}
.gnb li {padding: 20px 0;
        }
.gnb li::before {content: '\2022';
                display: inline-block;
                font-size: 20px;
                }
                .gnb li:nth-child(1):before {color: transparent
                    }
.gnb a {padding:0  40px;
        display:inline-block;
        color: #000;}

/* 슬로건 설정 */
.hero {width: 100%;
    height: 80vh;
    overflow: hidden;}

.hero img {width: 100%;
            height: 100%;
            background-size: cover;
            
            }

/* iconset 설정 */
.box4 {padding: 20px 0;}
.iconSet {width: 100%;
        height: 150px;
        display: block;
        text-align: center;}
.iconSet ul {display: flex;
    justify-content: center;
            }
.iconSet li {margin:0  30px;}
.iconSet li span  {font-size: 18px;
                    color: #206512;
                    font-weight: bold;}
.lconSet a {} 
.iconSet .i-img {background-color: #75BF4A;
                display: block;
                height: 112px;
                width: 112px;
                border-radius: 50%;
                position: relative;
                }
.iconSet img {position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);}

/* 전시행사포스터 설정 */
.poster {}
.posterTxt {font-size: 30px;
            text-align: center;
            color: #206512;
            border-top: solid 2px #206512;
            border-bottom: solid 2px #206512;
        padding: 20px;}
.poster ul {display: flex;}
.poster li {padding: 102px ;
            }
.poster img {width: 277px;
    height: 393px;
    border-radius: 0 20px;}
.poster img:nth-child(1) {}




/* 공지사항,동영상 설정 */

.box6 {width: 100%;
height: 600px;
background-color: yellow;
margin-top: 50px;
margin-bottom: 50px;
position: relative;
}


.box6-1 {font-size: 120px;
        color: #75BF4A;
        font-weight: bold;
        opacity: 50%;
        position: absolute;
        top:0px ;
        right: 50px;
       }
.video {background-color: #75BF4A;
    width: 500px;
    height: 500px;
    position: absolute;
    right: 50%;
    margin-right: -50px;
    z-index: 2;
    }
.video ul {}
.video li{}

.layout {background-color: #206512;
        width: 500px;
        height: 500px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 100px;
        z-index: 1;
       
       }
/* 슬로건 */
.slogan {position: relative;}
.sloganImg {background-image: url(../img/Icon/green.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100% ;
    height: 80vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
    text-indent: -9999px;
    }
.slogan ul {position: absolute;
            top: 40vh;
            color: #fff;
            right: 50%;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            text-align: center;
            }
.slogan li {}
.slogan li:nth-child(1) {font-size: 45px;}
.slogan li:nth-child(2) {font-size: 25px;
                        opacity: 80%;}

/* 사진갤러리 */
.slideImg {width: 100%;
        height: 400px;
    overflow: hidden;}
.slideImg ul {display: flex;
width:2170px ;}
.slideImg li {width: 300px ;
    height: 400px;
                margin-right: 10px;}

.slideImg li a {position: relative;}
.slideImg li a div {position: absolute;
bottom: 0;
left: 0;}












/*                      미디어커리구간설정                         */
/*                 768px이상 구간 설정            */
@media (min-width:768px) {




    /* 레이아웃설정 */

    /* box1,box2의 가로정렬 */
    .boxA {display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    margin-left: auto;
margin-right: auto}

    /* 박스5의 가로정렬 */
    .box6 {}
    /* 지도,주소 의 가로정렬 */
    .box9-2 {display: flex;}
}