@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}
/* 변동설정 */
body {font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;}

/* logo 설정 */
.logo {background-image: url(../img/Icon/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 90px;
        text-indent: -9999px;}
/* gnb 설정 */
.gnb {}
.gnb ul {display: flex;}
.gnb li {}
.gnb a {padding: 10px 30px;
        display: block;
        color: #858585;}
















/*                      미디어커리구간설정                         */
/*                 768px이상 구간 설정            */
@media (min-width:768px) {




    /* 레이아웃설정 */

    /* box1,box2의 가로정렬 */
    .boxA {display: flex;
        justify-content: space-between;}
    /* box5-1,box5-2의 가로정렬 */
    .box5 {display: flex;}
    .box5-1, .box5-2 {width: 50%;}
    /* 박스8의 가로정렬 */
    .box8>div>div {display: flex;}
    /* 지도,주소 의 가로정렬 */
    .box9-2 {display: flex;}
}