@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}
h1, h2, h3, h4, h5, h6 {}


/* 변동설정 */
body {font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;}
/* header 설정 */
header {padding: 20px 0;}
/* logo 설정 */
.logo {background-image: url(../img/Icon/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 175px;
        height: 49px;
        text-indent: -9999px;
        }
/* gnb 설정 */
.gnb {}
.gnb ul {display: flex;}
.gnb li {padding: 20px 0;}
.gnb li::before {content: '\2022';
                display: inline-block;
                font-size: 20px;
                }
.gnb li:nth-child(1)::before {color: transparent;}
.gnb a {display: inline-block;
        color: #000;
        padding: 0 40px;}

/* 슬로건 설정 */
.hero {width: 100%;
    height: 80vh;
    overflow: hidden;
    }

.hero img {width: 100%;
            height: auto;
            }

/* iconset 설정 */
.box4 {padding: 30px 0;}
.iconSet {width: 100%;
        height: 150px;
        display: block;
        text-align: center;}
.iconSet ul {display: flex;
            justify-content: center;}
.iconSet li {margin: 0 85px;}
.iconSet li span  {font-size: 18px;
                    color: #206512;
                    font-weight: bold;
                margin-bottom: 5px;}
.lconSet a {} 
.iconSet .i-img {background-color: #75BF4A;
                display: block;
                height: 112px;
                width: 112px;
                border-radius: 50%;
                position: relative;
                }
.iconSet img {position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);}

/* 전시행사포스터 설정 */
.poster {padding-top: 69px;
        background-color: #f5f5f5;}
.posterTxt {font-size: 30px;
            text-align: center;
            color: #206512;
            border-top: solid 2px #206512;
            border-bottom: solid 2px #206512;
        padding: 20px;}
.poster ul {display: flex;
            justify-content: center;}
.poster li {padding: 102px ;
            }
.poster img {width: 277px;
    height: 393px;
    border-radius: 0 20px;
    padding: 100px 0 ;
        }
.poster img:nth-child(1) {}

/* 넘기는 아이콘을 어디다 넣어야 할지 모르갯어요 ... */


/* 공지사항,동영상 설정 */
/* 동영상 부분 어떻게 해야항지 모르갯어요 ... */
.box6 {width: 100%;
    height: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    color: #fff;}

.box6-1 {font-size: 120px;
        color: #75BF4A;
        font-weight: bold;
        opacity: 50%;
        position: absolute;
        top: 45px;
        left: 55%;}
.box6-2 {}
.video {background-color: #75BF4A;
        width: 1000px;
        height: 600px;
        margin-right: -50px;
        right: 47%;
        top: 90px;
        position: absolute;
        z-index: 2;
        border-radius: 0px 40px 40px 0px;
        box-shadow: 20px 20px 22px 4px rgba(0, 0, 0, 0.2);}
.video div:nth-child(1) {}
.video span {position: absolute;
            font-size: 16px;
            letter-spacing: 1.2em;
            font-style: normal;
            line-height: 10px;
            transform: rotate(-90deg);
            top: 50%;
            margin-left: -40px;
            }
.videoTitle {
            font-size: 18px;
            font-weight: bold;
            width: 438px;
            display: flex;
                justify-content: space-between;
                position: relative;
                align-items: center;}

.videoTxt {align-items: center;
        width: 600px;
        position: absolute; 
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        }

.videoIcon {border: solid 1px #fff;
                border-radius: 35px;
                padding: 5px;
                width: 122px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -165px;}
.videoIcon em {font-style: normal;
                font-weight: 500;
                font-size: 14px;}
.videoIcon a {padding-left: 5px;
        display: flex;}
.videoYoutube {background-color: #8b8b8b;
            width: 60%;
            height: 50%;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%);}

.layout {background-color: #206512;
        width: 1000px;
        height: 600px;
        position: absolute;
        left: 47%;
        top: 160px;
        margin-right: -50PX;
        z-index: 1;
        border-radius: 40px 0px  0px 40px;
        box-shadow: 20px 20px 22px 4px rgba(0, 0, 0, 0.2);
        line-height: 50px;}
.news {margin-top: 70px;
        margin-left: 260px;
        width: 520px;}
.newsTitle {border-bottom: #fff solid 1px;}
.newsTitle ul {display: flex;
        justify-content: space-between;
        }
.newsTitle li {}
.newsTitle li:nth-child(1) {font-size: 18px;
                        font-weight: bold;}
.newsTitle a {}
.newsTitle img {border: solid 1px #fff;
                padding: 3px;
                border-radius: 50%;
                margin-bottom: 15px;}
.newsTxt {display: flex;
        justify-content: space-between;
        }
.newsTxt ul {}
.newsTxt li {font-size: 16px;}


.notice {margin-top: 70px;
        margin-left: 260px;
        width: 520px;}
.noticeTitle {border-bottom: #fff solid 1px;}
.noticeTitle ul {display: flex;
        justify-content: space-between;}
.noticeTitle li {}
.noticeTitle li:nth-child(1) {font-size: 18px;
        font-weight: bold;}
.noticeTitle a {}
.noticeTitle img {
        border: solid 1px #fff;
        padding: 3px;
        border-radius: 50%;margin-bottom: 15px;}
.noticeTxt {display: flex;
                justify-content: space-between;}
.noticeTxt li {font-size: 16px;}
/* 슬로건 */
.slogan {position: relative;}
.sloganImg {background-image: url(../img/Icon/green.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100% ;
    height: 80vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
    text-indent: -9999px;
    }
.slogan ul {position: absolute;
            top: 40vh;
            color: #fff;
            left: 50%;
            font-weight: bold;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            }
.slogan li {line-height: 1.5;}
.slogan li:nth-child(1) {font-size: 45px;}
.slogan li:nth-child(2) {font-size: 25px;
                        opacity: 80%;}

/* 사진갤러리 */

.box8 {width: auto;
        height: 300px; 
        background-color: #f5f5f5;
        padding-top: 300px;
        padding-bottom: 300px;}
.slide {position: relative;
    width: 100%;
    height: 300px;
    }
.slideTxt {width: 300px;
                height: 300px;
                position: absolute;
                background-color: #f5f5f5;
                display: flex;
                left: 500px;
                z-index: 2;
                justify-content: center;
                }
.slideTBox {}
.slideTxt h2 {color: #206512;
                font-size: 24px;
                }
.slideTxt h2 span {font-size: 40px;}
.slideTxt p {font-size: 16px;
                margin-top: 150px;}
.slideTxt ul {display: flex;
                background-color: transparent;
                margin-top: 20px;}
.slideTxt li {border: #888888 solid 1px;
                border-radius: 50%;
                padding: 15px;
                }
.slideImg {width: 1580px;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        }
.slideImg ul {display: flex;
            width: 2170px;
            height: 300px;
            margin-left: 50px;
        flex-wrap: wrap;
                align-items: center;}
.slideImg li {width: 300px ;
            height: 400px;
            margin-right: 20px;}
.slideImg li a {position: relative;}
.slideImg li a div {position: absolute;
                    bottom: 0;
                    left: 0;}

.imgTxt {background-color: rgba(32, 101, 18, 0.5);
        width: 220px;
        height: 100px;
        color: #fff;
        padding: 10px;
        }
.imgTxt em {font-style: normal;
        font-size: 18px;}
.imgTxt p {line-height: 1.2;
        margin-top: 15px;}

/* 지도 설정 */
.box9 {width: 100%;
        height: 800px;
        background-color: #206512;
        position: relative;}
.box9-1 {}
.box9-1 a {font-size: 12px;
        color: #fff;
        border: 1px solid #fff;
        padding: 19px;
        border-radius: 30px;
        display: flex;
        width: 220px;
        justify-content: space-around;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%);}
.box9-1 img {width: 54.58px;
        height: 7px;}
.mapTitle {font-size: 50px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            line-height: 70px;
            position: absolute;
            top: 10%;
            left: 50%;
        transform: translate(-50%);
                }
.container {width: 1200px;
            height: 350px;
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translateX(-50%);
                }
.map {border-radius: 20px 0px 0px 20px;}
.contactM {position: absolute;
        border-radius: 0px 20px 20px 0px;
        background-color: #fff;
        left: 50%;
        height: 350px;
        width: 600px;
        top: 0;}
.contactTxt {position: absolute;
        width: 388PX;
        height: 146PX;
        top: 30%;
        left: 50%;
        transform: translate(-50%);}
.contactTxt p {line-height: 18px;
                }
.contactTxt p:nth-child(1) {font-size: 18px;
                        }
.contactTxt p:nth-child(2) {font-size: 14px;
                        color: #8b8b8b;
                        margin-top: 15px;}
.contactTxt ul {font-size: 16px;
                padding-top: 50PX;}
.contactTxt li {}
.contactTxt li:nth-child(2) {margin-top: 15px;}
.contactTxt img {}
.contactTxt span {padding-left: 9px;}
/* footer 설정 */
footer {background-color: #000;
        color: #8b8b8b;
        width: 100%;
        height: 100px;
        position: relative;}
footer p {position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);} 
/*                      미디어커리구간설정                         */
/*                 768px이상 구간 설정            */
@media (min-width:768px) {




    /* 레이아웃설정 */

    /* box1,box2의 가로정렬 */
    .boxA {display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;}
    /* 박스5의 가로정렬 */
    .box6 {}
    /* 지도,주소 의 가로정렬 */
    .box9-2 {display: flex;}
}