@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}
h1, h2, h3, h4, h5, h6 {}


/* 변동설정 */
body {font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;}
/* header 설정 */
header {padding: 20px 0;}
/* logo 설정 */
.logo {background-image: url(../img/Icon/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 175px;
        height: 49px;
        text-indent: -9999px;
        }
/* gnb 설정 */
.gnb {}
.gnb ul {display: flex;}
.gnb li {padding: 20px 0;}
.gnb li::before {content: '\2022';
                display: inline-block;
                font-size: 20px;
                }
.gnb li:nth-child(1)::before {color: transparent;}
.gnb a {display: inline-block;
        color: #000;
        padding: 0 40px;}

/* 슬로건 설정 */
.hero {width: 100%;
    height: 80vh;
    overflow: hidden;
    }

.hero img {width: 100%;
            height: auto;
            }

/* iconset 설정 */
.box4 {padding: 30px 0;}
.iconSet {width: 100%;
        height: 150px;
        display: block;
        text-align: center;}
.iconSet ul {display: flex;
            justify-content: center;}
.iconSet li {margin: 0 85px;}
.iconSet li span  {font-size: 18px;
                    color: #206512;
                    font-weight: bold;
                margin-bottom: 5px;}
.lconSet a {} 
.iconSet .i-img {background-color: #75BF4A;
                display: block;
                height: 112px;
                width: 112px;
                border-radius: 50%;
                position: relative;
                }
.iconSet img {position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);}

/* 전시행사포스터 설정 */
.poster {padding-top: 69px;
        background-color: #f5f5f5;}
.posterTxt {font-size: 30px;
            text-align: center;
            color: #206512;
            border-top: solid 2px #206512;
            border-bottom: solid 2px #206512;
        padding: 20px;}
.poster ul {display: flex;
            justify-content: center;}
.poster li {padding: 102px ;
            }
.poster img {width: 277px;
    height: 393px;
    border-radius: 0 20px;
    padding: 100px 0 100px 0;}
.poster img:nth-child(1) {}

/* 넘기는 아이콘을 어디다 넣어야 할지 모르갯어요 ... */


/* 공지사항,동영상 설정 */
/* 동영상 부분 어떻게 해야항지 모르갯어요 ... */
.box6 {width: 100%;
    height: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    color: #fff;}

.box6-1 {font-size: 120px;
        color: #75BF4A;
        font-weight: bold;
        opacity: 50%;
        position: absolute;
        top: 45px;
        left: 55%;}
.box6-2 {}
.video {background-color: #75BF4A;
        width: 1000px;
        height: 600px;
        margin-right: -50px;
        right: 47%;
        top: 90px;
        position: absolute;
        z-index: 2;
        border-radius: 0px 40px 40px 0px;
        box-shadow: 20px 20px 22px 4px rgba(0, 0, 0, 0.2);}
.video div:nth-child(1) {}
.video span {position: absolute;
            font-size: 16px;
            letter-spacing: 0.9em;
            font-style: normal;
            line-height: 16px;
            transform: rotate(-90deg);
            top: 50%;
            }
.videoTxt {margin-top: 10%;
            font-size: 18px;
            margin-left: 20%;
            font-weight: bold;
            }
.videoTxt em {font-style: normal;
                font-weight: 500;
                margin-left:50%;
                font-size: 14px;}
.videoTxt a {}
.videoYoutube {background-color: #8b8b8b;
            width: 60%;
            height: 50%;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%);}
/* 고시공고 텍스트 부분이랑 아이콘 가로정렬이 안돼요 */
.layout {background-color: #206512;
        width: 1000px;
        height: 600px;
        position: absolute;
        left: 47%;
        top: 160px;
        margin-right: -50PX;
        z-index: 1;
        border-radius: 40px 0px  0px 40px;
        box-shadow: 20px 20px 22px 4px rgba(0, 0, 0, 0.2);}
.news {margin-top: 100px;
    margin-left: 260px;
        }
.newsTItle {}
.newsTItle ul {display: flex;}
.newsTItle li:nth-child(1) {font-size: 18px;
            font-weight: bold;}
.newsTItle a {}
.newsTItle img {background-color: #fff;}
.newsTxt {display: flex;
        border-top: solid 1px #fff;
        width: fit-content;}
.newsTxt ul {}
.newsTxt li {padding: 0 15px ;
            font-size: 16px;
            margin-top: 15px;}


.notice {margin-top: 100px;
    margin-left: 260px;}
.noticeTitle {}
.noticeTitle a {}
.noticeTxt {display: flex;
            border-top: solid 1px #fff ;
            width: fit-content;
            }
.noticeTxt li {padding: 0 15px ;
            font-size: 16px;
            margin-top: 15px;}










/* 슬로건 */
.slogan {position: relative;}
.sloganImg {background-image: url(../img/Icon/green.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100% ;
    height: 80vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
    text-indent: -9999px;
    }
.slogan ul {position: absolute;
            top: 40vh;
            color: #fff;
            left: 50%;
            font-weight: bold;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            }
.slogan li {line-height: 1.5;}
.slogan li:nth-child(1) {font-size: 45px;}
.slogan li:nth-child(2) {font-size: 25px;
                        opacity: 80%;}

/* 사진갤러리 */
/* slideTitle 부분 어떻게 올려야 해요?.. 
position ?? */
.box8 {width: auto;
        height: 800px;}
.slide {position: relative;
    width: 100%;
    height: 400px;
    margin-top: ;}
.slideTitle {width: 270px;
            height: 800px;
            position: absolute;
            background-color: #206512;
            display: flex;
            align-items: center;
            }
/* 사진 세로축 가운데 정렬이 안돼요 
transform: translate(-50% -50%);
            top: 50%;
            left: 50%;
            얘네 사용했었어요  */

.slideImg {width: 100%;
        height: 400px;
        overflow: hidden;
        }
.slideImg ul {display: flex;
            width: 2170px;
            margin-left: 50px;}
.slideImg li {width: 300px ;
            height: 400px;
            margin-right: 10px;}
.slideImg li a {position: relative;}
.slideImg li a div {position: absolute;
                    bottom: 0;
                    left: 0;}

.imgTxt {background-color: rgba(32, 101, 18, 0.5);
        width: 220px;
        height: 100px;
        color: #fff;
        padding: 10px;
        line-height: 1.5;}
/* 두번쨰 em이 안움직이고 명령어가 안먹혀요 ... */
.imgTxt em:nth-child(1) {font-style: normal;
            font-size: 18px;
                        }
.imgTxt em:nth-child(2) {font-style: normal;
                        font-size: 14px;
                        margin-bottom: 10px;}

/* 지도 설정 */
.box9 {width: 100%;
        height: 800px;
        background-color: #206512;
        position: relative;}
.box9-1 {}
.mapTitle {font-size: 50px;
            font-weight: bold;
            color: #fff;
            text-align: center;
            line-height: 70px;
            padding-top: 70px;
            padding-bottom: 50px;}
.mapTitle a {}
.container {width: 1200px;
            background-color: aqua;
            height: 350px;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translateX(-50%);}

/* 글자들을 중앙 정렬하고 자간 띄우고 싶은데 안돼요... */
.map {}
.contactM {position: absolute;
        background-color: #fff;
        left: 50%;
        height: 350px;
        width: 600px;
        top: 0;}
.contactM p {line-height: 18px;}
.contactM p:nth-child(1) {font-size: 18px;
                        }
.contactM p:nth-child(2) {font-size: 14px;
                        color: #8b8b8b;}
.contactM ul {font-size: 16px;
            }
.contactM li {}

/* footer 설정 */
footer {background-color: #000;
        color: #8b8b8b;
        width: 100%;
        height: 100px;
        position: relative;}
footer p {position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);} 
/*                      미디어커리구간설정                         */
/*                 768px이상 구간 설정            */
@media (min-width:768px) {




    /* 레이아웃설정 */

    /* box1,box2의 가로정렬 */
    .boxA {display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;}
    /* 박스5의 가로정렬 */
    .box6 {}
    /* 지도,주소 의 가로정렬 */
    .box9-2 {display: flex;}
}